* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:white;
}

.header {
    display: flex;
    justify-content: space-between; /* Phân chia không gian giữa các phần tử con */
    align-items: center; /* Căn chỉnh các phần tử con theo chiều dọc */
    background-color: white; /* Màu nền của header */
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo-left {
    position:sticky; /* Đặt vị trí cố định */
    justify-content: space-between;
    gap: 15px; /* Khoảng cách giữa các phần tử con */
    height: 75px;
    flex: 1; /*cho phép phần tử .logo-left mở rộng để điền vào không gian dư thừa trong trường hợp cần thiết.*/
    font-size: 40px;
    flex-direction: row;
    padding: 16px 25px 16px;
    align-items: flex-end;
    align-self: stretch; /*phần tử con sẽ được kéo dài để lấp đầy toàn bộ chiều cao của flex container trong chiều dọc (theo trục chính). Điều này đảm bảo rằng phần tử con sẽ căn chỉnh về đỉnh và đáy của flex container và có cùng chiều cao với các phần tử con khác trong cùng một hàng.*/
    box-sizing: border-box; /*padding và border sẽ được tính vào kích thước tổng của phần tử.*/
    display: flex; /*Chỉ định rằng phần tử được áp dụng các thuộc tính flexbox, biến nó thành một flex container.*/
    justify-content: flex-start; /*Căn các phần tử con theo chiều ngang của flex container về phía trái (bên trái của container)*/
    max-width: 100%; /*flex container không sẽ vượt quá chiều rộng của không gian chứa của nó, giữ nó linh hoạt và phù hợp với kích thước màn hình*/
}
.logo-left .logo1 {
    height: 42px;
    float: left; /* Đặt .logo-icon bên trái */
    object-fit: cover;
    position: relative;
}
.logo-left .logo1-text {
    font-size: 42px;
    font-weight: 700;
    font-family: quicksand;
    line-height: 43px; /* Đặt độ cao dòng của văn bản trong .logo1-text là 45px. Điều này sẽ ảnh hưởng đến cách mà các dòng văn bản được căn chỉnh trong phần tử*/
    color: #FFBE98;
}

.frame-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 25px 16px;
    gap: 27px;
    height: 75px;
    max-width: 100%;
    position: sticky; /* Sử dụng vị trí dính */
    top: 0; /* Đặt vị trí ở trên cùng */
    right: 0; /* Đặt vị trí ở phía bên phải cách lề phải 0px */
}
.frame-right .asking {
    font-family: quicksand;
    font-size: 20px;
    align-self: center;
    color: #9e9da8;
}
.frame-right .btn-signup {
    cursor: pointer;
    border: 1px solid #ffbe98;
    padding: 5px 15px 5px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 7px;
}
.frame-right .btn-signup:hover {
    border: 1px solid #ef9059;
}
.frame-right .btn-signup-text {
    font-family: quicksand;
    position: relative;
    font-size: 20px;
    color: #ffbe98;
}
.frame-right .btn-signup-text:hover {
    color: #ef9059;
}
.frame-right .dark {
    height: 37px;
    width: 37px;
    position: relative;
    border-radius: 7px;
    background-color: #fff5f0;
}
.frame-right .moon-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%; /* Di chuyển lên 50% từ phía trên của .dark */
    left: 50%; /* Di chuyển sang trái 50% từ phía trái của .dark */
    transform: translate(-50%, -50%); /* Dịch chuyển ngược lại 50% của kích thước của chính nó */
}

.line1 {
    align-self: stretch;
    height: 3px;
    position: relative;
    border-top: 3px solid #ffbe98;
    box-sizing: border-box;
    margin: 0 23px 14px;
}

/*BODY*/
.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    flex-direction: row;
    padding: 0 25px 0;
    box-sizing: border-box;
    overflow: auto; /* Ngăn các phần tử con bị tràn ra ngoài */
}
.main-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 20px;
    flex: 1;
}
.ads-left {
    display: flex;
    box-sizing: border-box;
    max-width: 65%;
    flex: 1;
    border-radius: 9px 0 0 9px;
    flex-direction: column; /*dời 2 dấu tròn xuống hàng*/
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 450px 20px 45px;
    /*gap: 49px;*/
    background-image: url(/public/qc1-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.ads-title {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: quicksand;
    position: relative;
    text-shadow: 0 3px 6px #ef9059;
    max-width: 100%;
}
.circles {
    max-width: 100%;
    justify-content: center;
}

.signin-info {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    max-width: 35%;
    flex: 1;
    border-radius: 0 9px 9px 0;
    background-color: rgba(255, 190, 152, 0.3);
    flex-direction: column;
    padding: 60px 20px 60px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 37.6px;
    max-height: 100%; /* Đảm bảo rằng chiều cao không vượt quá chiều cao của cửa sổ */
    overflow: hidden; /* Sử dụng cuộn nếu nội dung vượt quá kích thước của phần tử */
}
.signin-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 35px;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    font-family: quicksand;
    color: #ef9059;
    text-align: center;
    gap: 10px;
}
.signin-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.email-text {
    position: relative;
    font-size: 17px;
    display: inline-block;
    font-family: quicksand;
    color: #696969;
    text-align: left;
}
.email-box {
    border: 2.5px solid #ffbe98;
    outline: none;
    background-color:white;
    align-self: stretch;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    min-width: 350px;
    height: 40%;
    margin: 5px 0 30px;
    font-size: 15px;
    color: black;
    padding: 12px 15px 12px 15px;
}
.pass-container {
    
}
.pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.pass1 {

}
.pass-text,
.span {
    position: relative;
    font-size: 17px;
    display: inline-block;
    font-family: quicksand;
    text-align: left;
}
.pass-text {
    color: #696969;
}
.span {
    color:red;
}
.pass2 {

}
.password-box-container {
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    display: flex;
    align-items: flex-start;
}
.password-box {
    border: 2.5px solid #ffbe98;
    outline: none;
    background-color:white;
    align-self: stretch;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box; /*????????????????????????????*/
    width: 100%;
    min-width: 350px;
    height: 40%;
    margin: 5px 0 3px;
    font-size: 15px;
    color: black;
    padding: 12px 15px 12px 15px;
}
.hide-icon1 { 
}
.forget-pass a{
    position: relative;
    font-size: 15px;
    color:#ef9059;
    text-decoration: none;
    font-weight: 600;
    font-family: quicksand;
    color: #ef9059;
    text-align: left;
    display: inline-block;
}
.forget-pass a:hover {
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 23px;
}
.button-signin {
    cursor: pointer;
    border: 0;
    width: 100%;
    min-width: 350px;
    height: 40%;
    padding: 14px 15px 14px 15px;
    align-self: stretch;
    border-radius: 10px;
    background:  #ffbe98;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.button-signin:hover {
    background-color: #ef9059;
}
.button-signin-text {
    position: relative;
    font-size: 18px;
    display: inline-block;
    font-family: quicksand;
    color: white;
    text-align: center;
}
                
.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch; /*???*/
    padding: 0 15px 0 15px;
    flex: 1;
    justify-content: center;
    gap: 23px;
}
.divider-1 {
    position: relative;
    height: 2px;
    background-color: rgba(102, 102, 102, 0.25);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}
.or {
    position: relative;
    font-size: 16px;
    font-family: quicksand;
    color: #666;
    text-align: left;
    display: inline-block;
}
.divider2 {
    position: relative;
    height: 2px;
    background-color: rgba(102, 102, 102, 0.25);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}
.signingmail {
    cursor: pointer;
    border: 0;
    width: 100%;
    min-width: 350px;
    height: 40%;
    padding: 14px 15px 14px 15px;
    align-self: stretch;
    border-radius: 10px;
    border: 2px solid #ffbe98;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.signingmail-box {

}
.gmail-logo-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}
.signin-text {
    position: relative;
    font-size: 16px;
    display: inline-block;
    font-family: quicksand;
    color: #696969;
    text-align: center;
    flex-shrink: 0; /*???*/
    z-index: 1;
}
.signin-text:hover {
    color: #ef9059;
}
.line2 {
    align-self: stretch;
    height: 3px;
    position: relative;
    border-top: 3px solid #ffbe98;
    box-sizing: border-box;
    margin: 14px 23px 14px;
}

/* ===== Footer ===== */
.footer {
    font-family: quicksand;
}
.footer-row {
    padding: 55px 25px;
    background: #131717;
  }
  
.footer-row .container {
    display: grid;
    grid-template-columns: 0.6fr 0.3fr 0.5fr 0.28fr;
    column-gap: 75px;
}
  
.logo-foot {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
  
.logo-foot img {
    transform: scale(2);
}
  
.logo-foot .logo-title {
    color: var(--primary-color);
    margin-left: 30px;
    color: #ffbe98;
    font-size: 76px;
    font-weight: 700;
}
.download-container {
    margin-left: 40px;
}
.download-title {
    margin-top: 57px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}
  
.download-method {
    margin-top: 17px;
}
  
  .footer__heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .footer__list {
    margin-top: 24px;
  }
  
  .footer__item {
    margin-bottom: 16px;
    font-size: 1.4rem;
    color: #cecdd7;
    line-height: 162.5%;
  }
  
  .footer__link {
    font-size: 1.6rem;
    color: #cecdd7;
  }
  
  .footer__link:hover {
    text-decoration: underline;
  }
  
  .footer__social {
    padding-top: 24px;
    display: flex;
    column-gap: 5px;
  }
  
  .footer__social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #404b4b;
  }
  
  .footer__social-btn img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .footer-copyright {
    background-color: #f6f6f6;
  }
  
  .footer-copyright .container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-copyright .payment-method img {
    margin-right: 27px;
  }