body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-quicksand: Quicksand;
    --h4: Manrope;
    --font-plus-jakarta-sans: "Plus Jakarta Sans";
  
    /* font sizes */
    --font-size-base: 16px;
    --h4-size: 20px;
    --font-size-mid: 17px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-whitesmoke: #f6f6f6;
    --text-color-dark: #131717;
    --shapes-color-dark-grey: #404b4b;
    --shapes-color-green: #005d63;
    --color-dimgray-100: #696969;
    --color-dimgray-200: rgba(102, 102, 102, 0.25);
    --color-dimgray-300: rgba(105, 105, 105, 0.8);
    --color-burlywood-100: #ffbe98;
    --color-sandybrown: #ef9059;
    --color-seashell: #fff5f0;
    --secondary-color-secondary-2: #9e9da8;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-6xl: 25px;
    --gap-sm: 14px;
  
    /* Paddings */
    --padding-12xl: 31px;
    --padding-xl: 20px;
    --padding-8xs: 5px;
    --padding-11xs: 2px;
    --padding-26xl: 45px;
    --padding-23xl: 42px;
    --padding-2xl: 21px;
    --padding-12xs: 1px;
    --padding-25xl: 44px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-4xs: 9px;
  
    /* Border radiuses */
    --br-4xs: 9px;
    --br-3xs: 10px;
    --br-6xs: 7px;
  }
  