html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Quicksand, sans-serif;
}
/* ======= Header ====== */
.fixed-header {
  position: relative;
  background-color: var(--background-color-1);
  padding: 10px 0px;
}

/* ======== Navigation ======== */
.logo-nav {
  display: flex;
  align-items: center;
  margin-top: -7px;
}

.logo-nav .logo-title {
  color: var(--primary-color);
  margin-left: 14px;
  color: #ffbe98;
  font-size: 40px;
  font-weight: 700;
}

.top-bar {
  display: flex;
  /* Căn giữa theo chiều dọc */
  align-items: center;
}

.top-bar ul {
  display: flex;
  margin-left: 8.6rem;
  list-style-type: none;
}

.top-bar .top-act {
  display: flex;
  margin-left: auto;
  /* Trong flexbox, margin sẽ đẩy phần tử con ra khỏi hưởng được set*/
  align-items: center;
}

.navbar ul a {
  margin-left: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color-1);
  padding: 8px 10px;
}

.top-bar .top-act {
  gap: 30px;
}

.top-bar .top-act-group {
  display: flex;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background: var(--second-color);
  border-radius: 8px;
}

.top-bar .top-act-btn {
  display: flex;
  align-items: center;
  padding: 13px;
  border: none;
  background: var(--second-color);
  border-radius: 8px;
  cursor: pointer;
}

.navbar .top-act-title {
  margin-left: 10px;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 500;
}

.top-bar .top-act-separate {
  width: 2px;
  height: 23px;
  background: #939090;
}

.navbar ul a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.div-star {
  display: flex;
  gap: 11px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  line-height: 171%;
  padding: 0 20px;
}
.img-pro {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 76px;
}
.product-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 76px;
}

.product-item {
  flex: 1 0;
  margin: 5px;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  border-radius: 20px;
  background: var(--background-color-1);
  box-shadow: 0px 60px 20px 0px rgba(237, 237, 246, 0.2);
}

.product-card__img-wrap {
  position: relative;
  padding-top: 100%;
  background-color: var(--background-color-1);
  border-radius: 20px;
}

.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__thumb:hover {
  transform: scale(1.2);
}
table{
  width: 132px;
}
tr, td{
  border: 1px solid black;
  text-align: center;
  padding: 14px;
}
td{
  width: 44px;
}
.like-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -50px 0 0 75%;
}

.product-card__title a {
  display: inline-block;
  margin-top: 16px;
  color: var(--text-color-2);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}

.product-card__price,
.product-card__price-sales,
.product-card__score {
  font-size: 1.5rem;
  font-weight: 500;
}

.product-card__price {
  color: #f98542;
  font-weight: 700;
}

.product-card__price-sales {
  margin-left: 10px;
  text-decoration: line-through;
  font-weight: 700;
  color: #f98542;
}

.product-card__collection {
  margin: 16px 0;
  color: #9e9da8;
  font-size: 1.5rem;
}

.product-card__row {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.product-card__star {
  margin: 0 6px 0 auto;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn.home-product {
  margin: 60px 0px 40px 50%;
  transform: translate(-50%);
}
.cross-bar {
  border-color: rgba(255, 190, 152, 1);
  border-style: solid;
  border-width: 6px;
  background-color: #ffbe98;
  min-height: 6px;
  width: 100%;
}
@media (max-width: 991px) {
  .cross-bar {
    max-width: 100%;
  }
}
/* ======= Product detail ====== */
.product-detail {
  align-self: center;
  margin-top: 60px;
  width: 100%;
  max-width: 1268px;
}
@media (max-width: 991px) {
  .product-detail {
    max-width: 100%;
    margin-top: 40px;
  }
}
.product-inf {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .product-inf {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.product-inf__image {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .product-inf__image {
    width: 100%;
  }
}
.product-inf__image1 {
  aspect-ratio: 0.95;
  object-fit: auto;
  object-position: center;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 991px) {
  .product-inf__image1 {
    max-width: 100%;
  }
}
.product-inf__image3 {
  aspect-ratio: 0.94;
  object-fit: auto;
  object-position: center;
  width: 95px;
}
@media (max-width: 991px) {
  .product-inf__image3 {
    flex-wrap: wrap;
  }
}
.product-inf__word {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .product-inf__word {
    width: 100%;
  }
}

.img-8 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 47px;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-27 {
  color: #a6a6a6;
  font: 400 25px/96%;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
  }
}
.product-inf__title {
  color: #522a28;
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
}
.product-inf__title__1 {
  text-align: center;
  color: #522a28;
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
}
@media (max-width: 991px) {
  .product-inf__title {
    max-width: 100%;
    margin-right: 10px;
  }
}
.product-inf__star {
  align-items: center;
  align-self: start;
  display: flex;
  margin-top: 29px;
  gap: 8px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  line-height: 50%;
}
@media (max-width: 991px) {
  .product-inf__star {
    white-space: initial;
  }
}
.product-inf__price{
  text-transform: capitalize;
  margin-top: 37px;
  font: 500 24px/70%;
}
@media (max-width: 991px) {
  .product-inf__price {
    max-width: 100%;
  }
}
.product-inf__text {
  font-style: italic;
  font-weight: 300;
  margin-top: 26px;
}
@media (max-width: 991px) {
  .product-inf__text {
    max-width: 100%;
  }
}
.underline {
  background-color: #000;
  margin-top: 24px;
  height: 1px;
}
@media (max-width: 991px) {
  .underline {
    max-width: 100%;
  }
}
.product-inf__text1 {
  font-weight: 300;
  margin-top: 18px;
}
@media (max-width: 991px) {
  .product-inf__text1 {
    max-width: 100%;
  }
}
.sales-promotion {
  display: flex;
  margin-top: 37px;
  justify-content: space-between;
  gap: 20px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .sales-promotion {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.sales-promotion1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
.return {
  display: flex;
  gap: 9px;
}
.img-10 {
  aspect-ratio: 0.85;
  object-fit: auto;
  object-position: center;
  width: 29px;
}
.return__text {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  margin-left: 15px;
}
.payment {
  display: flex;
  margin-top: 22px;
  gap: 9px;
}
.img-11 {
  aspect-ratio: 0.85;
  object-fit: auto;
  object-position: center;
  width: 29px;
}
.img-12 {
  aspect-ratio: 0.85;
  object-fit: auto;
  object-position: center;
  width: 29px;
}
.img-13 {
  aspect-ratio: 0.88;
  object-fit: auto;
  object-position: center;
  width: 30px;
}
.quantity {
  display: flex;
  margin-top: 21px;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  color: #522a28;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
}
@media (max-width: 991px) {
  .quantity {
    flex-wrap: wrap;
  }
}
.img-14 {
  aspect-ratio: 2.86;
  object-fit: auto;
  object-position: center;
  width: 131px;
  max-width: 100%;
}
.btn {
  display: inline-block;
  min-width: 158px;
  border-radius: 5px;
  background: #ef9059;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #522a28;
  padding: 15px 35px;
}
.btn.them{
  width: 450px;
}
.product-text {
  align-self: center;
  margin-top: 146px;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-size: 25px;
  line-height: 130%;
  color: #522a28;
  flex-grow: 1;
  flex-basis: auto;
  font-weight: 700;
}
@media (max-width: 991px) {
  .product-text {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.product-description {
  display: flex;
  margin-top: 4px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 76px;
}
@media (max-width: 991px) {
  .product-description {
    max-width: 100%;
    padding: 0 20px;
  }
}
.text-ring {
  color: #000;
  align-self: stretch;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
@media (max-width: 991px) {
  .text-ring {
    max-width: 100%;
  }
}
.product-des {
  margin-top: 37px;
  width: 100%;
  max-width: 1064px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .product-des {
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.product-des__img {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  line-height: normal;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 27%;
  padding: 0 9px;
}
@media (max-width: 991px) {
  .product-des__img {
    margin-top: 40px;
  }
}
.img-product {
  aspect-ratio: 1.03;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
.product-des__text {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 73%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .product-des__text {
    width: 100%;
  }
}
.frame {
  border-radius: 20px;
  background-color: #ffbe98;
  flex-grow: 1;
  width: 100%;
  padding: 74px 80px 74px 0;
  margin-left: 15px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .frame {
    max-width: 100%;
    margin-top: 40px;
  }
}
.inf-text {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  color: #000;
  white-space: nowrap;
  align-items: center;
  margin: auto 0;
  margin-top: 50px;
  margin-left: 33px;
  font-weight: 700;
  font: 20px/130%;
}
@media (max-width: 991px) {
  .inf-text {
    margin-top: 40px;
    white-space: initial;
  }
}
.des-text {
  color: #000;
  font: 400 20px/26px;
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .des-text {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .div-65 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 27%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.img-16 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-16 {
    margin-top: 40px;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 73%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.review {
  align-items: center;
  margin-top: 107px;
  width: 100%;
  max-width: 1191px;
  padding: 0 76px;
}
@media (max-width: 991px) {
  .review {
    max-width: 100%;
    margin-top: 40px;
  }
}
.review-read {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .review-read {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.review-statistics {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 0px;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .review-statistics {
    max-width: 100%;
    margin-top: 40px;
  }
}
.customer-review {
  color: #522a28;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 991px) {
  .customer-review {
    max-width: 100%;
  }
}
.review-quantity {
  color: var(--Text-Color-Dark, #131717);
  margin-top: 34px;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
}
@media (max-width: 991px) {
  .review-quantity {
    max-width: 100%;
  }
}
.star {
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .star {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.cross-bar__star {
  background-color: var(--Shapes-Color-Grey, #c4d1d0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0%;
  margin: auto 0;
}
@media (max-width: 991px) {
  .cross-bar__star {
    max-width: 100%;
  }
}
.cross-quantity1 {
  background-color: var(--Shapes-Color-Dark-Grey, #404b4b);
  height: 4px;
}
@media (max-width: 991px) {
  .cross-quantity1 {
    max-width: 100%;
  }
}
.star-quality {
  color: var(--Text-Color-Dark, #131717);
  white-space: nowrap;
  font: 400 18px/167%;
}
@media (max-width: 991px) {
  .star-quality {
    white-space: initial;
  }
}
.cross-quantity2 {
  background-color: var(--Shapes-Color-Dark-Grey, #404b4b);
  height: 4px;
}
@media (max-width: 991px) {
  .cross-quantity2 {
    max-width: 100%;
  }
}
.review-writing {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 167%;
  width: 43%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .review-writing {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-18 {
  aspect-ratio: 6.67;
  object-fit: auto;
  object-position: center;
  width: 106px;
  margin-top: 24px;
  max-width: 100%;
}
.div-92 {
  color: var(--Text-Color-Dark, #131717);
  font-weight: 600;
  margin-top: 29px;
}
@media (max-width: 991px) {
  .div-92 {
    max-width: 100%;
  }
}
.write-headline {
  border-color: rgba(196, 209, 208, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: start;
  color: var(--Text-Color-Light, #566363);
  font-weight: 400;
  white-space: nowrap;
  padding: 22px 60px 22px 15px;
}
@media (max-width: 991px) {
  .write-headline {
    white-space: initial;
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-94 {
  margin-top: 29px;
  width: 100%;
  max-width: 1191px;
}
@media (max-width: 991px) {
  .div-94 {
    max-width: 100%;
  }
}
.div-95 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-95 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-15 {
    width: 100%;
  }
}
.div-96 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-96 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.cross-quantity3 {
  background-color: var(--Shapes-Color-Dark-Grey, #404b4b);
  width: 198px;
  height: 4px;
}
.cross-quantity4 {
  background-color: var(--Shapes-Color-Dark-Grey, #404b4b);
  width: 113px;
  height: 4px;
}
.cross-quantity5{
  background-color: var(--Shapes-Color-Dark-Grey, #404b4b);
  width: 0px;
  height: 4px;
}
.column-16 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-16 {
    width: 100%;
  }
}
.div-111 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  line-height: 167%;
}
@media (max-width: 991px) {
  .div-111 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-112 {
  color: var(--Text-Color-Dark, #131717);
}
@media (max-width: 991px) {
  .div-112 {
    max-width: 100%;
  }
}
.write-detail {
  border-color: rgba(196, 209, 208, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  margin-top: 20px;
  align-items: start;
  color: var(--Text-Color-Light, #566363);
  font-weight: 400;
  white-space: nowrap;
  padding: 24px 60px 111px 15px;
}
@media (max-width: 991px) {
  .write-detail {
    white-space: initial;
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-114 {
  border-radius: 5px;
  background-color: #ef9059;
  align-self: start;
  margin-top: 40px;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  padding: 15px 35px;
  color: #522a28;
}
@media (max-width: 991px) {
  .div-114 {
    white-space: initial;
    padding: 0 20px;
  }
}
.review-customer {
  align-self: stretch;
  margin-top: 47px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .review-customer {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    max-width: 100%;
    margin-top: 40px;
  }
}
.customer {
  border-color: rgba(196, 209, 208, 1);
  border-style: solid;
  border-width: 1px;
  background-color: var(--Shapes-Color-White, #fff);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: var(--Text-Color-Dark, #131717);
  width: 100%;
  padding: 32px 27px;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .div-117 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.ava-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 54px;
  border-radius: 50%;
}
.review-tittle {
  margin-top: 20px;
  font: 600 18px/167% Manrope, sans-serif;
}
.star-img {
  aspect-ratio: 6.67;
  object-fit: auto;
  object-position: center;
  width: 106px;
  margin-top: 10px;
  max-width: 100%;
}
.review-detail {
  color: var(--Text-Color-Light, #566363);
  margin-top: 24px;
  font: 400 16px/28px Manrope, sans-serif;
}
.div-129 {
  border-radius: 5px;
  background-color: #ef9059;
  margin-top: 43px;
  justify-content: center;
  color: #522a28;
  white-space: nowrap;
  text-align: center;
  padding: 15px 35px;
  font: 600 18px/167%;
}
@media (max-width: 991px) {
  .div-129 {
    white-space: initial;
    margin-top: 40px;
    padding: 0 20px;
  }
}
@media (max-width: 991px) {
  .div-130 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-25 {
  aspect-ratio: 2.27;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin: 73px 38px 0;
}
@media (max-width: 991px) {
  .img-25 {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.div-131 {
  background-color: #131717;
  display: flex;
  margin-top: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 45px 60px;
}
@media (max-width: 991px) {
  .div-131 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-132 {
  display: flex;
  width: 100%;
  max-width: 1201px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-132 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-133 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0%;
}
.div-134 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 76px;
  color: #ffbe98;
  font-weight: 700;
  white-space: nowrap;
  line-height: 42%;
}
@media (max-width: 991px) {
  .div-134 {
    font-size: 40px;
    white-space: initial;
  }
}
.img-26 {
  aspect-ratio: 1.01;
  object-fit: auto;
  object-position: center;
  width: 99px;
}
.div-135 {
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-135 {
    font-size: 40px;
  }
}
.div-136 {
  color: #fff;
  margin-top: 58px;
  font: 700 20px/130%;
}
@media (max-width: 991px) {
  .div-136 {
    margin-top: 40px;
  }
}
.div-137 {
  display: flex;
  margin-top: 26px;
  gap: 20px;
  padding: 0 2px;
}
.img-27 {
  aspect-ratio: 2.63;
  object-fit: auto;
  object-position: center;
  width: 130px;
  max-width: 100%;
}
.img-28 {
  aspect-ratio: 2.7;
  object-fit: auto;
  object-position: center;
  width: 131px;
  max-width: 100%;
}
.div-138 {
  align-self: end;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  font-size: 17px;
  color: var(--white-80, rgba(255, 255, 255, 0.8));
  font-weight: 600;
  line-height: 153%;
  flex-basis: 0%;
}
.div-139 {
  color: var(--White, #fff);
  white-space: nowrap;
  font: 700 20px/130%;
}
@media (max-width: 991px) {
  .div-139 {
    white-space: initial;
  }
}
.div-140 {
  margin-top: 33px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-140 {
    white-space: initial;
  }
}
.div-141 {
  margin-top: 25px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-141 {
    white-space: initial;
  }
}
.div-142 {
  margin-top: 26px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-142 {
    white-space: initial;
  }
}
.div-143 {
  margin-top: 25px;
}
.div-144 {
  margin-top: 27px;
}
.div-145 {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0%;
}
.div-146 {
  color: var(--White, #fff);
  white-space: nowrap;
  font: 700 20px/130%;
}
@media (max-width: 991px) {
  .div-146 {
    white-space: initial;
  }
}
.div-147 {
  color: var(--white-80, rgba(255, 255, 255, 0.8));
  margin-top: 31px;
  font: 400 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-148 {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  font-size: 20px;
  color: var(--Text-Color-White, #fff);
  font-weight: 700;
  line-height: 150%;
  flex-basis: 0%;
}
.div-149 {
  font-family: Manrope, sans-serif;
}
.img-29 {
  aspect-ratio: 3.7;
  object-fit: auto;
  object-position: center;
  width: 132px;
  align-self: center;
  margin-top: 31px;
}
.div-150 {
  background-color: #f6f6f6;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 16px;
  color: var(--Text-Color-Dark, #131717);
  font-weight: 400;
  text-align: right;
  line-height: 175%;
  padding: 35px 60px;
}
@media (max-width: 991px) {
  .div-150 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-151 {
  display: flex;
  margin-right: 89px;
  width: 692px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-151 {
    margin-right: 10px;
    flex-wrap: wrap;
  }
}
.img-30 {
  aspect-ratio: 11.11;
  object-fit: auto;
  object-position: center;
  width: 215px;
  max-width: 100%;
}
.div-152 {
  font-family: Manrope, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
  /* ===== Footer ===== */
.footer-row {
  padding: 55px 0;
  background: #131717;
}

.footer-row .container {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr;
  column-gap: 78px;
}

.logo-foot {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo-foot img {
  transform: scale(2);
}

.logo-foot .logo-title {
  color: var(--primary-color);
  margin-left: 30px;
  color: #ffbe98;
  font-size: 76px;
  font-weight: 700;
}

.download-title {
  margin-top: 57px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

.download-method {
  margin-top: 17px;
}

.download-method .app-store {
  margin-left: 18px;
}

.footer__heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.footer__list {
  margin-top: 24px;
}

.footer__item {
  margin-bottom: 16px;
  font-size: 1.6rem;
  color: #cecdd7;
  line-height: 162.5%;
}

.footer__link {
  font-size: 1.6rem;
  color: #cecdd7;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  padding-top: 24px;
  display: flex;
  column-gap: 5px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #404b4b;
}

.footer__social-btn img {
  max-width: 100%;
  max-height: 100%;
}

.footer-copyright {
  background-color: #f6f6f6;
}

.footer__copyright-text {
  text-align: center;
}

.footer-copyright .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.footer-copyright .payment-method img {
  margin-right: 27px;
}
