* {
  box-sizing: border-box;
}

:root {
  --text-color: #717171;
  --primary-color: #ef9059;
  --nav-color: #717171;
  --background-color: #fff;
  --second-color: #fff5f0;
}

.dark-mode {
  --text-color: #eeeeee;
  --primary-color: #ef9059;
  --nav-color: #171c28;
  --background-color: #171c28;
}

/* Để sử dụng rem */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Quicksand, sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  max-width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
  /* không để margin: auto vì nếu vậy sẽ mặc định margin top+bottom = 0 > sau này sẽ ghi đè*/
}

.btn {
  display: inline-block;
  min-width: 98px;
  border-radius: 12px;
  background: var(--primary-color);
  font-family: Quicksand;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: var(--background-color);
  padding: 18px 16px;
}

.btn:hover {
  opacity: 0.9;
}

/* ======= Header ====== */
.fixed-header {
  position: relative;
  background-color: var(--background-color);
  padding: 10px 0px;
}

/* ======== Navigation ======== */
.logo-nav {
  display: flex;
  align-items: center;
  margin-top: -7px;
}

.logo-nav .logo-title {
  color: var(--primary-color);
  margin-left: 14px;
  color: #ffbe98;
  font-size: 40px;
  font-weight: 700;
}

.top-bar {
  display: flex;
  /* Căn giữa theo chiều dọc */
  align-items: center;
}

.top-bar ul {
  display: flex;
  margin-left: 8.6rem;
  list-style-type: none;
}

.top-bar .top-act {
  display: flex;
  margin-left: auto;
  /* Trong flexbox, margin sẽ đẩy phần tử con ra khỏi hưởng được set*/
  align-items: center;
}

.navbar ul a {
  margin-left: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
  padding: 8px 10px;
}

.top-bar .top-act {
  gap: 30px;
}

.top-bar .top-act-group {
  display: flex;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background: var(--second-color);
  border-radius: 8px;
}

.top-bar .top-act-btn {
  display: flex;
  align-items: center;
  padding: 13px;
  border: none;
  background: var(--second-color);
  border-radius: 8px;
  cursor: pointer;
}

.navbar .top-act-title {
  margin-left: 10px;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 500;
}

.top-bar .top-act-separate {
  width: 1px;
  height: 30px;
  background: #939090;
}

.navbar ul a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* ========= Slider Section ======== */
#slider {
  overflow: hidden;
}
/*  aspect-ratio-169  */
.hero-slider {
  display: block;
  position: relative;
  padding-top: calc(100vh - 70px);
  transition: 0.3s;
}

.hero-slider img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dot-container {
  margin: -30px 50% 0px;
  height: 20px;
  background: none;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
}

.dot-container .dot {
  margin: auto 10px;
  width: 40px;
  height: 10px;
  background-color: #fad2bb;
  border-radius: 2px;
}

.dot-container .dot.active {
  background-color: #f86624;
}

/* ========= Marquee ======== */
.mar {
  background-color: var(--background-color);
}

/* ========= Product Sales ========= */
#product-sale {
  background: #f6f6f6;
}

#product-sale h2 {
  padding: 50px 0 30px 0;
  color: #ef9059;
  font-size: 3.5rem;
  font-weight: 700;
}

.row-cols-4 {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-sm-1 {
  flex: 0 0 auto;
  width: 100%;
}

.product-home {
  display: flex;
}

.col {
  flex: 1 0;
  justify-content: space-between;
  margin: 5px;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}

.product-card__img-wrap {
  position: relative;
  padding-top: 100%;
}

.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.like-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -50px 0 0 75%;
}

.product-card__title a {
  display: inline-block;
  margin-top: 16px;
  color: #1a162e;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}

.product-card__price,
.product-card__score {
  font-size: 1.6rem;
  font-weight: 500;
}

.product-card__collection {
  margin: 16px 0;
  color: #9e9da8;
  font-size: 1.5rem;
  line-height: 146.667%;
}

.product-card__row {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.product-card__star {
  margin: 0 6px 0 auto;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
